<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <nav id="nav-bar">
      <button class="new-game">START GAME</button>
      <p id="round">Round 1</p>
      <p id="score">Score 0</p>
      <p id="hi-score"></p>
    </nav>

    <div id="info-columb">
      <div id="head-container">
        <div id="count-down">
          <span id="count-down-text">Time: 60</span>
        </div>

        <form id="boggle-form">
          <input
            class="form-item"
            type="text"
            name="guess"
            id="boggle-input"
            autocomplete="off"
            placeholder="TAKE A GUESS"
          />
          <input id="form-button" type="submit" value="SUBMIT" />
        </form>

        <p id="message"></p>
      </div>
    </div>

    <div class="alert-container">
      <div class="alert-content">
        <h2>GAMEOVER</h2>
        <button class="new-game">NEW GAME</button>
      </div>
    </div>

    <section id="game-board">
      {% for item in board %}
      <table>
        <tr>
          {% for letter in item %}
          <td>{{letter}}</td>
          {% endfor%}
        </tr>
      </table>
      {% endfor %}
    </section>

    <script src="/static/app.js"></script>
  </body>
</html>
